
body {
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    margin: 0;

    font-family: "Arial";
    font-size: 20px;
    line-height: 24px;
    font-style: regular;
    letter-spacing: 0%;
    color: #363E45;
}

h2, h3, p {
    margin: 0;
    padding: 0;
}

.Content {
    width: 1140px;
    background-color: white;
}

#header {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    background: white;
    justify-content: space-between;
}

.table {
    display: flex;
    grid-auto-flow: column;
    gap: 8px;
}

.button {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    padding: 15px 20px;
    border: 1px solid #98A3AE7A;
    border-radius: 8px;
    
    font-weight: 400;
    font-style: regular;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    white-space: nowrap;
}

#about {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.heading {
    margin: 0;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
}

.card-heading {
    line-height: 48px;
}

.naming {
    white-space: nowrap;
}

#education {
    margin-top: 120px;
}

.education-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.education-block {
    margin: 0;
    padding: 0;
}

.cards,
.text-image,
.education-block {
    .second-text {
        margin-top: 8px;
    }
    .small-text {
        margin-top: 16px;
    }
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.second-text {
    font-size: 16px;
    line-height: 24px;
    color: #363E45A3;
}

.small-text {
    font-size: 16px;
}

.text-image {
    display: flex;
    gap: 32px;

    > div > .second-text {
        margin-top: 16px !important;
    }
}

#experience,
#contacts, 
#skills,
#footer {
    margin-top: 120px;
    display: grid;
    gap: 40px;
}

.skills-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-top: 16px;
}

.skill-div {
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 8px;
    padding: 32px;
    margin-top: 16px;
    background-color: #98A3AE1F;
}

.skills-field {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 16px;
}

.skills-input {
    background: #fff;
    padding: 0 12px;
    margin-top: 8px;
    width: 489.5px;
    height: 48px;
    border: 1px solid #98a3ae7a;
    border-radius: 8px;
    
    font-size: 14px;
    color: #363e45;
}

.skills-btn {
    background: #2F3337;
    padding: 16px 20px;
    height: 48px;
    border: 1px solid #98a3ae7a;
    border-radius: 8px;
    
    color: #fff;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
}

.card-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    height: 336px;
    padding: 32px;
}

#footer {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.skill-progress-bar {
    width: 100%;
    height: 8px;
    background: #98A3AE1F;
    border-radius: 999px;
    overflow: hidden;
  }
  
  .skill-progress-fill {
    height: 100%;
    background: #363E45;
    border-radius: 999px;
  }

.text-row > svg {
    display: none;
}

.logo-contacts svg {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {

    body {
        /* padding: 0;
        display: block; */
        background-color: pink;
    }

    .Content {
        width: 100%;
        max-width: 390px;
        padding: 0 16px;
        box-sizing: border-box;
    }

    #header { height: 80px; }
    .header-table>* { display: none; }
    .header-table>*:last-child { display: block; }

    .heading {
        font-size: 36px;
        line-height: 44px;
    }

    .card-heading {
        line-height: 36px;
        max-width: 50px;
    }

    .Image,
    .small-Image {
        display: block; 
        width: 358px;
        height: 358px;
        border-radius: 8px;
    }

    #about,
    #education,
    #experience,
    #contacts, 
    #skills,
    #footer {
        margin-top: 60px;
        gap: 32px;
    }

    #contacts {
        padding-top: 1px;
    }

    #education {
        display: grid;
    }

    .education-grid {
        gap: 32px;
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    .experience-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .text-image {
        flex-direction: column-reverse;
        gap: 24px;
    }

    .disappear {
        display: none;
    }

    .skills-grid {
        grid-template-columns: 1fr;
        gap: 24px;
        margin-top: 0px;

        .second-text {
            margin-top: 0px;
        }
        .small-text {
            margin-top: 0px;
        }
    }

    .text-row {
        display: flex;
        justify-content: space-between;
        align-items: center;  
        max-width: 100%;
    }

    
    .text-row > svg {
        display: grid;
        align-items: flex-end;
        
    }

    .skills-input,
    .skills-btn {
        width: 100%;
        max-width: 100%;
    }

    .card {
        margin-top: 0;
        padding: 16px;
    }

    .cards,
    .skills-field {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .cards {
        gap: 16px;
    }

    .card-contacts {
        height: 128px;
    }

    .logo-contacts svg {
        width: 24px;
        height: 24px;
    }

    #footer {
        padding: 1px;
        margin: 0;
        display: grid;
        flex-direction: 1fr;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        padding-bottom: 16px;
        height: 72px;
        p {
            font-size: 14px;
            color: #363E45A3;
            line-height: 100%;
            text-align: center;
        }
    }
}
